<form action="shipping">
  <label>How much does it weight? (in pounds)</label>
  <input type="text" name="wieght"><br>

  <label>How big is the box? (inches)</label><br>
  Width <input type="text" name="width"><br>
  Height <input type="text" name="height"><br>
  Length <input type="text" name="length"><br>

  <label>Where is it going? (in miles)</label>
  <input type="text" name="miles"><br>

  <label>Check which one you want!</label>
  <p>Ground (free)</p>
  <input type="checkbox" name="ground">
  <p>Air (faster)</p>
  <input type="checkbox" name="air"><br>

  <p>Gift Wrap?</p>
  <input type="checkbox" name="gift"><br>
  <button type="submit">Submit</button>
</form>
