<form action="shipping">
  <label>How much does it weight? (in pounds)</label>
  <input type="text" name="wieght"><br>

  <label>How big is the box?</label><br>
  <input type="text" name="width"><br>
  <input type="text" name="height"><br>
  <input type="text" name="length"><br>

  <label>Where is it going? (in miles)</label>
  <input type="text" name="miles"><br>

  <label>Check which one you want!</label>
  <p>Ground</p>
  <input type="checkbox" name="ground">
  <p>Air (faster)</p>
  <input type="checkbox" name="air"><br>
  <button type="submit">Submit</button>
</form>
