<form action="shipping">
  <div class="form-group well well-lg">
    <label>How much does your package weigh? (in pounds please)</label>
    <input type="text" name="wieght" class="form-control" placeholder="Total Weight"><br>

      <div class="row">
        <label>How big is the box? (inches)</label><br>
        <div class="col-md-4">
          Width <input type="text" name="width" class="form-control" placeholder="Width"><br>
        </div>
        <div class="col-md-4">
          Height <input type="text" name="height" class="form-control" placeholder="Height"><br>
        </div>
        <div class="col-md-4">
          Length <input type="text" name="length" class="form-control" placeholder="Length" ><br>
        </div>
      </div>

    <label>Where is it going? (miles)</label>
    <input type="text" name="miles" class="form-control" placeholder="Miles"><br>

    <div class = "row">
      <label>Select your shippin' preference</label><br>
      <div class = "col-lg-12">
        Ground (free)
        <input type="checkbox" name="ground">
        Air (faster)
        <input type="checkbox" name="air">
        Optional: Gift Wrap
        <input type="checkbox" name="gift">
      </div>
    </div>
      <br>
      <button type="submit" class="btn-lg btn-primary">SHIP</button>
  </div>
</form>
