<form action="shipping">
  <label>How much does it weight? (in pounds)</label>
  <input type="text" name="wieght">

  <label>How big is the box?</label>
  <input type="text" name="width">
  <input type="text" name="height">
  <input type="text" name="length">

  <label>Where is it going? (in miles)</label>
  <input type="text" name="miles">

  <label>check which one you want!</label>
  <h3>Ground</h3>
  <input type="checkbox" name="ground">
  <h3>Air (faster)</h3>
  <input type="checkbox" name="air">
</form>
